{% extends 'base.html' %}

{% block content %}
    <h3>{{ post.title }}</h3><br/>
    <img src="{{ post.picture.url }}" class="rounded mx-auto d-block" ></img>
    <p>{{ post.description|safe }}</p>
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'post:like' post.id %}" >Like </a>
    {% endif %}
    {{ post.likes_count }} <br/>


    Total Comment  {{ post.comment_count }}
    {% if request.user.is_authenticated %}
    <form action="" method="post" novalidate class="col-md-6">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" class="btn btn-primary">
    </form>
    {% else %}
        <p>only logged in users can send comments</p>
    {% endif %}<br/><br/><br/>

    Comment List
{% for comment in comments %}
    <div >
        <p >{{ comment.user }} : {{ comment.body }}</p>
    </div>
{% empty %}
    <p>There is no comment</p>
{% endfor %}

{% endblock %}
